<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="CommonMapper">

	<resultMap id="replySelectMap" type="reply">
		<result property="regDate" column="reg_date" jdbcType="DATE" />
		<result property="content" column="reply_content" jdbcType="VARCHAR" />
		<association property="user" javaType="user">
			<result property="email" column="email" />
			<result property="nickname" column="nickname" />
		</association>
	</resultMap>
	
	<resultMap id="gradeSelectMap" type="grade">
		<result property="average" column="avg(grade)" jdbcType="NUMERIC" />
		<result property="userCount" column="grade" jdbcType="NUMERIC" />
		<result property="doGrade" column="doGrade" jdbcType="BOOLEAN" />
	</resultMap>

	<resultMap id="likeSelectMap" type="like">
		<result property="totalLike" column="count(*)" jdbcType="NUMERIC" />
		<result property="doLike" column="doLike" jdbcType="BOOLEAN" />
	</resultMap>

	<insert id="addReply" parameterType="map" useGeneratedKeys="true"
		keyProperty="reply_no">
		INSERT
		INTO reply(email, category_no, target_no,
		reply_content)
		VALUES ( #{user.email}, #{categoryNo}, #{targetNo},
		#{reply.content})
	</insert>

	<delete id="deleteReply" parameterType="map">
		DELETE FROM
		reply
		WHERE
		category_no = #{categoryNo} AND
		target_no = #{targetNo} AND
		reply_content = #{reply.content}
	</delete>

	<select id="getReplyList" parameterType="map" resultMap="replySelectMap">
		SELECT
		email, reply_content, reg_date
		FROM reply
		WHERE category_no =
		#{categoryNo} AND
		target_no = #{targetNo} AND
		email = #{user.email}
	</select>

	<select id="viewCount" parameterType="map" resultType="int">
		SELECT
		count(*)
		FROM log
		WHERE category_no = #{categoryNo} AND
		target_no =
		#{targetNo} AND
		behavior = 1
	</select>

	<insert id="addGrade" parameterType="map" useGeneratedKeys="true" keyProperty="grade_no">
		INSERT 
		INTO grade(email, category_no, target_no, grade) 
		VALUES ( #{user.email}, #{categoryNo}, #{targetNo}, #{grade.userCount} )
	</insert>

	<select id="getGrade" parameterType="map" resultMap="gradeSelectMap">
		SELECT
		avg(grade), grade, if(count(*) = 0, false, true) "doGrade" 
		FROM grade
		WHERE category_no =	#{categoryNo} AND
		target_no = #{targetNo} AND
		email = #{user.email}
	</select>
	
	<insert id="addLike" parameterType="map" useGeneratedKeys="true" keyProperty="like_no">
		INSERT
		INTO `like`(email, category_no, target_no) 
		VALUES ( #{user.email}, #{categoryNo}, #{targetNo})
	</insert>
	
	<select id="getLike" parameterType="map" resultMap="likeSelectMap">
		SELECT
		count(*) totalLike, sum(if( email=#{user.email}, true, false)) AS doLike
		FROM `like`
		WHERE category_no =	#{categoryNo} AND
		target_no = #{targetNo}
	</select>
	
	<delete id="deleteLike" parameterType="map">
		DELETE FROM	`like`
		WHERE category_no = #{categoryNo} AND
		target_no = #{targetNo} AND
		email = #{user.email}
	</delete>
</mapper>