<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="CommonMapper">

	<resultMap id="replySelectMap" type="reply">
		<result property="regDate" column="reg_date" jdbcType="DATE" />
		<result property="content" column="reply_content" jdbcType="VARCHAR" />
		<association property="user" javaType="user">
			<result property="email" column="email" />
			<result property="nickname" column="nickname" />
		</association>
	</resultMap>
	
	<resultMap id="gradeSelectMap" type="grade">
		<result property="average" column="average" jdbcType="DECIMAL" />
		<result property="userCount" column="grade" jdbcType="NUMERIC" />
		<result property="doGrade" column="doGrade" jdbcType="BOOLEAN" />
	</resultMap>

	<resultMap id="likeSelectMap" type="like">
		<result property="totalLike" column="count(*)" jdbcType="NUMERIC" />
		<result property="doLike" column="doLike" jdbcType="BOOLEAN" />
	</resultMap>
	
	<resultMap id="userSelectMap" type="user">
		<result property="age" column="age" jdbcType="NUMERIC" />
		<result property="gender" column="gender" jdbcType="VARCHAR" />
	</resultMap>
	
	<resultMap id="uploadFileSelectMap" type="uploadFile">
		<result property="uploadNo" 		column="upload_no" 			jdbcType="NUMERIC" />
		<result property="categoryNo" 	column="category_no" 		jdbcType="NUMERIC" />
		<result property="targetNo" 		column="target_no" 			jdbcType="NUMERIC" />
		<result property="fileName" 			column="file_name" 			jdbcType="VARCHAR" />
		<result property="originName" 	column="origin_name" 		jdbcType="VARCHAR" />
		<result property="mainFile" 			column="main_file" 				jdbcType="INTEGER" />
	</resultMap>
	
	<insert id="addReply" parameterType="map" useGeneratedKeys="true"
		keyProperty="reply_no">
		INSERT
		INTO reply(email, category_no, target_no,
		reply_content)
		VALUES ( #{user.email}, #{categoryNo}, #{targetNo},
		#{reply.content})
	</insert>		

	<delete id="deleteReply" parameterType="map">
		DELETE FROM
		reply
		WHERE
		category_no = #{categoryNo} AND
		target_no = #{targetNo} AND
		reply_content = #{reply.content} 
	</delete>

	<select id="getReplyList" parameterType="map" resultMap="replySelectMap">
		SELECT
		reply.email, user.nickname, reply.reply_content, reply.reg_date
		FROM reply reply left join user user
        on reply.email = user.email
		WHERE category_no =
		#{categoryNo} AND
		target_no = #{targetNo}
	</select>

	<select id="viewCount" parameterType="map" resultType="int">
		SELECT
		count(*)
		FROM log
		WHERE category_no = #{categoryNo} AND
		target_no =
		#{targetNo} AND
		behavior = 1
	</select>

	<insert id="addGrade" parameterType="map" useGeneratedKeys="true" keyProperty="grade_no">
		INSERT 
		INTO grade(email, category_no, target_no, grade) 
		VALUES ( #{user.email}, #{categoryNo}, #{targetNo}, #{grade.userCount} )
	</insert>

	<select id="getGrade" parameterType="map" resultMap="gradeSelectMap">
		SELECT
		ifnull(avg(grade),0) average, ifnull(grade, 0), sum(if( email=#{user.email}, true, 0)) AS doGrade
		FROM grade
		WHERE category_no =	#{categoryNo} AND
		target_no = #{targetNo}
	</select>
	
	<insert id="addLike" parameterType="map" useGeneratedKeys="true" keyProperty="like_no">
		INSERT
		INTO `like`(email, category_no, target_no) 
		VALUES ( #{user.email}, #{categoryNo}, #{targetNo})
	</insert>
	
	<select id="getLike" parameterType="map" resultMap="likeSelectMap">
		SELECT
		count(*) totalLike, sum(if( email=#{user.email}, true, false)) AS doLike
		FROM `like`
		WHERE category_no =	#{categoryNo} AND
		target_no = #{targetNo}
	</select>
	
	<delete id="deleteLike" parameterType="map">
		DELETE FROM	`like`
		WHERE category_no = #{categoryNo} AND
		target_no = #{targetNo} AND
		email = #{user.email}
	</delete>
	
	<insert id="addUploadFile" parameterType="list" >
		INSERT
		INTO upload_file(category_no, target_no, file_name, origin_name, main_file)
		VALUES
		<foreach item="uploadFile" index="index" collection="list"
      open="" separator="," close="">
       ( #{uploadFile.categoryNo}, 
        #{uploadFile.targetNo}, 
        #{uploadFile.fileName},
        #{uploadFile.originName}, 
        #{uploadFile.mainFile})
        </foreach>
		
	</insert>
	
	<select id="getUploadFileList" parameterType="map" resultMap="uploadFileSelectMap">
		SELECT
			file_name, origin_name
		FROM upload_file
		WHERE 
			category_no =	#{categoryNo} AND
			target_no = #{targetNo}
	</select>
	
	<delete id="deleteUploadFile" parameterType="uploadFile">
		DELETE FROM	upload_file
		WHERE 
			category_no = #{categoryNo} AND
			target_no = #{targetNo}
	</delete>
	
	<select id="getBookStatics" parameterType="string" resultMap="userSelectMap">
		SELECT 
		date_format(NOW(),'%Y')-substring(birth,1,4) as age, gender
		from user
		RIGHT JOIN log
		ON user.email = log.email
		WHERE category_no = 9 AND
			  target_no = #{book.isbn}
	</select>
</mapper>