<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="CreationMapper">
	
	<resultMap id="creationSelectMap" type="creation">
		<result property="creationNo" 					column="creation_no" 							jdbcType="INTEGER"/>
		<result property="creationTitle"					column="creation_title" 							jdbcType="VARCHAR" />
		<result property="creationIntro" 				column="creation_intro" 						jdbcType="VARCHAR" />
		<result property="creationHead" 				column="creation_head" 						jdbcType="VARCHAR" />
		<result property="creationFileName" 					column="creation_file_name" 				jdbcType="VARCHAR" />
		<result property="creationOriginName" 		column="creation_origin_name" 		jdbcType="VARCHAR" />
			<association property="creationAuthor" 			javaType="user" 					resultMap="UserMapper.userSelectMap"/>
			
			
	</resultMap>
	
	
	<!-- SQL : INSERT -->
	<insert 	id="addCreation"		parameterType="creation" useGeneratedKeys="true" keyProperty="creationNo" keyColumn="creation_no">
	 	INSERT
		INTO creation(creation_title,  creation_intro, author, creation_head, creation_file_name, creation_origin_name) 
		VALUES	 (#{creationTitle},
						  #{creationIntro},
						  #{creationAuthor.email},
						  #{creationHead},
						  #{creationFileName},
						  #{creationOriginName})
	
	 </insert>
	 
	  <!-- SQL : SELECT ONE -->
	 <select 	id="getCreation"	parameterType="creation"	 resultMap="creationSelectMap">
		SELECT
		creation_no, author email, creation_title, creation_head, creation_file_name, creation_origin_name, creation_intro, active
		FROM creation 
		<where>
			creation_no = #{creationNo}
		 		
		<if test="active==0">
			AND active = 1
		</if>
		</where>
	 </select>
	 
	 
	 <!-- SQL : UPDATE -->
	 <update	id="updateCreation"	parameterType="creation" >
	   	UPDATE creation
	   	<set>
	  	 	<if test ="creationTitle != null">
	   			creation_title 	= #{creationTitle} ,
	   		</if>
	   		<if test ="creationIntro != null">
	   			creation_intro = #{creationIntro},
	   		</if>
	   		<if test ="creationHead != null">
				creation_head		= #{creationHead},
			</if>
			<if test ="creationFileName != null">
				creation_file_name 	= #{creationFileName},
			</if>
			<if test ="creationOriginName != null">
				creation_origin_name 	= #{creationOriginName},
			</if>
			<if test ="active != null">
				active 	= #{active}
			</if>
	   	</set>
	   	<where>
	   		creation_no = #{creationNo}
	   	</where>
	   	 
	 </update>
	 
	 	<!-- SQL : INSERTCreationSubscribe -->
	<insert 	id="addCreationSubscribe"		parameterType="map" >
	 	INSERT
		INTO subscribe (creation_no, email) 
		VALUES	 (#{creationNo},  #{email})
	
	 </insert>
	 
	 <!-- SQL : DeleteCreationSubscribe -->
	<insert 	id="deleteCreationSubscribe"		parameterType="map" >
	 	DELETE
		FROM subscribe  
		WHERE	 creation_no = #{creationNo},  
						 email = #{email}
	
	 </insert>

	<!-- SQL : SELECT ROW Count -->	 
	 <select  id="getTotalCreationCount"  parameterType="search"	 resultType="int">
	  	SELECT COUNT(*)
	  	FROM(	SELECT creationTitle ,author , creationFile.fileName, creationHead
						FROM  creation) countTable						
	 </select>

</mapper>