<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="FundingMapper">
	
	<resultMap id="fundingSelectMap" type="funding">
		<result property="fundingNo" 							column="funding_no" 										jdbcType="INTEGER"/>
		<result property="fundingTitle"						column="funding_title" 									jdbcType="VARCHAR" />
		<result property="fundingIntro" 						column="funding_intro" 								jdbcType="VARCHAR" />
		<result property="fundingRegDate" 				column="reg_date" 											jdbcType="DATE" />
		<result property="fundingEndDate" 				column="end_date"						 					jdbcType="DATE" />
		<result property="fundingTarget" 					column="funding_target" 								jdbcType="INTEGER" />
		<result property="perFunding" 						column="per_funding" 									jdbcType="INTEGER" />
		<result property="fundingFileName" 				column="funding_file_name" 						jdbcType="VARCHAR" />
		<result property="fundingOriginName" 		column="funding_origin_name" 					jdbcType="VARCHAR" />
		<result property="active" 									column="active" 												jdbcType="INTEGER" />			
					<association property="creation" 			javaType="creation" 					resultMap="CreationMapper.creationSelectMap"/>
					<collection property="payInfoList" javaType="java.util.ArrayList" ofType="payInfo" column="{categoryNo=category_no,targetNo=creation_no}" select="getPayInfoList"/>					
	</resultMap>

	<resultMap id="payInfoSelectMap" type="payInfo">
		<result property="payInfoNo" 							column="pay_no" 										jdbcType="INTEGER"/>
		<result property="fundingNo"							column="funding_no" 										jdbcType="INTEGER" />
		<result property="tid" 											column="tid" 														jdbcType="INTEGER" />
		<result property="userName" 							column="user_name" 										jdbcType="VARCHAR" />
		<result property="addr" 										column="addr"						 							jdbcType="VARCHAR" />
		<result property="phone" 									column="phone" 												jdbcType="VARCHAR" />
		<result property="regDate" 								column="reg_date" 											jdbcType="DATE" />
					<association property="email" 			javaType="user" 					resultMap="UserMapper.userSelectMap"/>
										
	</resultMap>	
	
	
	<!-- SQL : INSERT -->
	<insert 	id="addFunding"		parameterType="funding" useGeneratedKeys="true" keyProperty="fundingNo" keyColumn="funding_no">
	 	INSERT
		INTO funding(funding_title,  creation_no, funding_intro, end_date, funding_target, funding_file_name, funding_origin_name) 
		VALUES	 (#{fundingTitle},
						  #{fundingIntro},
						  #{creation.creationNo},
						  #{fundingEndDate},
						  #{fundingTarget},
						  #{perFunding}),
						  #{fundingFileName}),
						  #{fundingOriginName})
	
	 </insert>
	 
	<!-- SQL : INSERT -->
	<insert 	id="addPayInfo"		parameterType="payInfo" useGeneratedKeys="true" keyProperty="payInfoNo" keyColumn="pay_no">
	 	INSERT
		INTO pay_info(funding_no, tid, user_name, addr, phone) 
		VALUES	 (#{fundingNo},
						  #{tid},
						  #{userName},
						  #{addr},
						  #{phone}
						 
	
	 </insert>	 
	 
	  <!-- SQL : SELECT ONE -->
	 <select 	id="getFunding"	parameterType="funding"	 resultMap="fundingSelectMap">
		SELECT
			funding_no, funding_title, creation_no, 
			funding_intro, reg_date,
			end_date, funding_target, 
			funding_file_name, funding_origin_name, 
			active
		
		From
			funding
					
		<where>
			funding_no = #{fundingNo}
		<if test="active==0">
			AND active = 1
		</if>
		</where>
	 </select>
	 
	 	  <!-- SQL : SELECT ONE -->
	 <select 	id="getPayInfo"	parameterType="payInfo"	 resultMap="payInfoSelectMap">
		SELECT
		pay_no, funding_no, tid, user_name, addr, phone
		
		From
			pay_info
					
		<where>
			pay_no = #{payInfoNo}
		
		</where>
	 </select>
	 
	 
<!-- SQL : SELECT getFundingLIST -->
	<select  id="getFundingList"  parameterType="map"	resultMap="fundingSelectMap">
		
		SELECT
			funding_no, funding_title, creation_no, 
			u.nickname AS 'creation.creationAuthor.nickname',
			funding_intro, reg_date,
			end_date, funding_target, 
			funding_file_name, funding_origin_name, 
			active 
	
			u.nickname

		FROM 
			creation c
			LEFT JOIN user u ON c.author = u.email
			LEFT JOIN tag_group tg ON c.creation_no = tg.target_no 
			LEFT JOIN tag  t ON tg.tag_no =t.tag_no

		<where>
			<if test="user !=  null and search == null">
		 			c.author = #{user.email} 
			</if>
				
		</where>
		GROUP BY
			c.creation_no, email, 
			c.creation_title, 	c.creation_head, 
			c.creation_file_name, c.creation_origin_name, 
			c.creation_intro, c.active,
			category_no,
	
			u.nickname
		
		<if test="page != null">
		LIMIT #{page.startRow}, #{page.pageSize}
		</if>
		
	</select>
	 
	 
	 
	 

	 
	 
	 
	 	

</mapper>