<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="PostingMapper">
	
	<resultMap id="postingSelectMap" type="posting">
		<result property="postingNo" column="posting_no" jdbcType="INTEGER"/>
		<result property="postingTitle" column="posting_title" jdbcType="VARCHAR"/>
		<result property="postingContent" column="posting_content" jdbcType="VARCHAR"/>
		<result property="postingRegDate" column="reg_date" jdbcType="DATE"/>
		<result property="postingUpdateDate" column="update_date" jdbcType="DATE"/>
		<collection property="postingFileList" javaType="ArrayList" ofType="String" column="file_name" select="selectPostingFileList"/>
		<collection property="postingLocationList" javaType="ArrayList" ofType="location" select="selectPostingLocation">
			<result property="locationName" column="location_name" jdbcType="VARCHAR"/>
			<result property="locationLatitude" column="latitude" jdbcType="FLOAT"/>
			<result property="locationLongitude" column="longitude" jdbcType="FLOAT"/> 
		</collection>
	</resultMap>
	
	<select id="selectPostingFileList" resultType="String">
		SELECT file_name
		FROM upload_file
		WHERE category = 5 AND target_no = #{postingNo}
	</select>
	
	<select id="selectPostingLocation" resultType="location">
		SELECT location_name, latitude, longitude
		FROM location
		WHERE posting_no = #{postingNo}
	</select>
	
	
	<!-- SQL : INSERT -->
	<insert id="addLog" parameterType="log">
	 	INSERT
		INTO log( email, category_no, behavior, add_behavior, target_no ) 
		VALUES ( 
			#{user.email}, #{categoryNo}, #{behavior},
			<if test="addBehavior != -1"> #{addBehavior}, </if>
			<if test="addBehavior == -1"> NULL, </if>
			#{targetNo}
		)
	</insert>

<!-- 	<select id="creationName" parameterType="int">
		SELECT creation_title
		FROM creation
		WHERE creation_no = #{value}
	</select>
	
	<select id="writingName" parameterType="int">
		SELECT writing_title
		FROM writing
		WHERE writing_no = #{value}
	</select>

	<select id="fundingName" parameterType="int">
		SELECT funding_title
		FROM funding
		WHERE funding_no = #{value}
	</select>

	<select id="postingName" parameterType="int">
		SELECT posting_title
		FROM posting
		WHERE posting_no = #{value}
	</select>

	<select id="boardName" parameterType="int">
		SELECT board_title
		FROM board
		WHERE board_no = #{value}
	</select>
	
 -->
 	<select id="getTargetName" parameterType="map" resultType="String">
		SELECT ${category}_title
		FROM ${category}
		WHERE ${category}_no = #{targetNo}
	</select>

</mapper>