<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="WritingMapper">
	
	<resultMap id="writingSelectMap" type="writing" >
		<result property="writingNo" 					column="writing_no" 						jdbcType="INTEGER"/>
		<result property="writingTitle"					column="writing_title" 					jdbcType="VARCHAR" />
		<result property="writingContent" 			column="writing_content" 			jdbcType="VARCHAR" />
		<result property="regDate" 						column="reg_date" 							jdbcType="DATE" />
		<result property="updateDate" 				column="update_date" 					jdbcType="DATE" />	
	</resultMap>
	
	
	<!-- SQL : INSERT -->
	<insert 	id="addWriting"		parameterType="writing" useGeneratedKeys="true" keyProperty="writingNo" keyColumn="writing_no">
	 	INSERT
		INTO writing(writing_title,  writing_content, creation_no) 
		VALUES	 (#{writingTitle},
						  #{writingContent},
						  #{writingNo})
	
	 </insert>
 
	 <!-- SQL : UPDATE -->
	 <update	id="updateWriting"	parameterType="writing" >
	   	UPDATE writing
	   	<set>
	  	 	<if test ="writingTitle != null">
	   			writing_title 	= #{writingTitle} ,
	   		</if>
	   		<if test ="writingContent != null">
	   			writing_content = #{writingContent},
	   		</if>
	   		
	   			update_date = now(),		
	   		
	   		<if test ="active != null">
				active 	= #{active}
			</if>
	   	</set>
	   	<where>
	   		writing_no = #{writingNo}
	   	</where>
	
	 </update>
	 
	 	 <!-- SQL : SELECT ONE -->
	 <select 	id="getWriting"	parameterType="writing"	 resultMap="writingSelectMap">
		SELECT
		writing_no, writing_title , writing_content, reg_date , update_date, active
		FROM writing
		<where>
		 writing_no = #{writingNo}	
		
		<if test="active==0">
			AND active = 1
		</if>
			
		</where>
	 </select>
	 
	 
	 <!-- SQL : SELECT WritingLIST -->
	<select  id="getWritingList"  parameterType="search"	resultMap="writingSelectMap">
		
		SELECT
			c.creation_no,	 c.author email, 
			c.creation_title, 	c.creation_head, 
			c.creation_file_name, c.creation_origin_name, 
			c.creation_intro, c.active,
			
			w.writing_no, w.writing_title , 
			w.writing_content, w.reg_date , 
			w.update_date, w.active,
			
			t.tag_name

		FROM 
			writing w LEFT JOIN creation c ON w.creation_no = c.creation_no  
			LEFT JOIN tag_group tg ON c.creation_no = tg.target_no 
			LEFT JOIN tag  t ON ta.tag_no =t.tag_no

		<where>
			c.creation_no = #{creation.creationNo}
			
		</where>
		LIMIT #{page.startRow}, #{page.pageSize}
	</select>
	 
	 
	 
	  <!-- SQL : DELETE -->
	 <update	id="deleteWriting"	parameterType="writing" >
	   	UPDATE writing
	   	<set>
	  	 	<if test ="active != null">
				active 	= 0
			</if>
	   	</set>
	   	<where>
	   		creation_no = #{writing.creation}
	   	</where>
	
	 </update>
	 

	<!-- SQL : SELECT ROW Count -->	 
	 <select  id="getTotalWritingCount"  parameterType="creation"	 resultType="int">
	  	SELECT COUNT(*)
	  	FROM writing
	  	WHERE creation_no =#{creationNo}						
	 </select>

</mapper>