<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="WritingMapper">
	
	<resultMap id="writingSelectMap" type="writing" >
		<result property="writingNo" 					column="writing_no" 						jdbcType="INTEGER"/>
		<result property="writingTitle"					column="writing_title" 					jdbcType="VARCHAR" />
		<result property="writingContent" 			column="writing_content" 			jdbcType="VARCHAR" />
		<result property="regDate" 						column="reg_date" 							jdbcType="DATE" />
		<result property="updateDate" 				column="update_date" 					jdbcType="DATE" />	
	</resultMap>
	
	
	<!-- SQL : INSERT -->
	<insert 	id="addWriting"		parameterType="writing" useGeneratedKeys="true" keyProperty="writingNo" keyColumn="writing_no">
	 	INSERT
		INTO writing(writing_title,  writing_content, creation_no) 
		VALUES	 (#{writingTitle},
						  #{writingContent},
						  #{writingNo})
	
	 </insert>
 
	 <!-- SQL : UPDATE -->
	 <update	id="updateWriting"	parameterType="writing" >
	   	UPDATE writing
	   	<set>
	  	 	<if test ="writingTitle != null">
	   			creation_title 	= #{writingContent} ,
	   		</if>
	   		<if test ="writingContent != null">
	   			creation_intro = #{writingContent},
	   		</if>
	   		<if test ="active != null">
				active 	= #{active}
			</if>
	   	</set>
	   	<where>
	   		writing_no = #{writingNo}
	   	</where>
	
	 </update>
	 
	 	 <!-- SQL : SELECT ONE -->
	 <select 	id="getWriting"	parameterType="writing"	 resultMap="writingSelectMap">
		SELECT
		writing_title , writing_content, reg_date , update_date, active
		c.author, c.creation_title, c.creation_head, c.cration_file_name, c.creation_origin_name, c.creation_intro, c.active
		FROM writing, creation c
		<where>
		 writing_no = #{writingNo}	
		
		<if test="active==0">
			AND active = 1
		</if>
			
		</where>
	 </select>
	 

	<!-- SQL : SELECT ROW Count -->	 
	 <select  id="getTotalWritingCount"  parameterType="search"	 resultType="int">
	  	SELECT COUNT(*)
	  	FROM(	SELECT writing_title ,author , creationImage, creationHead
						FROM  creation) countTable						
	 </select>

</mapper>