body, html{
	min-height: 100%;
	height: 100%;
	color: #777;
	line-height: 1.8;
}
body{
	padding-top: 50px;
}

header{
	margin-bottom: 5px;
	height: 500px;
}
.parallax{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.75;
}
.display-middle{
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	   -moz-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
}
.bookbox-relative{
	position: relative;
}
/******* Toolbar CSS Start *******/
.bookbox-navigation{
	position: fixed;
	top: 0;
	height: 45px;
	width: 100%;
	z-index: 100;
	background-color: rgba(255, 255, 255, 1);
	padding: 2px 10px;
	-webkit-box-shadow: 0px 2px 5px 0px;
	   -moz-box-shadow: 0px 2px 5px 0px;
			box-shadow: 0px 2px 5px 0px;
}
.bookbox-navigation > *{
	position: relative;
	display: inline-block;
	color: #727272;
}
.bookbox-navigation *{
	vertical-align: middle;
	height: 100%;
}
.navbtn-group, .search-group{
	width: fit-content;
}
.navbtn-group > *, .search-group > *{
	position: relative;
	display: inline-block;
	cursor: pointer;
}
.navbtn-group > *:hover{
	
}
.navbtn-group{
	float: left;
}
.search-group{
	float: right;
}

.navbtn, .homebtn{
	margin-right: 5px;
	width: fit-content;
}
.homebtn span{
	top: 50%;
	-webkit-transform: translate(0, -50%);
	   -moz-transform: translate(0, -50%);
			transform: translate(0, -50%);
}
.bookbox-brand{
	 font-size: 20px;
	 letter-spacing: 4px;
}
.content-title{
	position: absolute;
	top: 0;
	left: 50%;
	width: fit-content;
	display: block;
	cursor: pointer;
	-webkit-transform: translate(-50%, 0);
	   -moz-transform: translate(-50%, 0);
			transform: translate(-50%, 0);
}
.bookbox-search{
	width: fit-content;
}
div.bookbox-search.search-form-group{
	width: 0;
	overflow-x: hidden;
	overflow-y: hidden;
	-webkit-transition: 0.5s;
	   -moz-transition: 0.5s;
			transition: 0.5s;
}
.bookbox-search.search-form{
	margin: 4px 0;
	text-decoration: none;
	height: 28px;
	color: #727272;
	display: inline-block;
	background-color: rgba(0, 0, 0, 0.08);
	box-shadow: none;
	border-bottom: 1px solid;
	-webkit-transition: 0.5s;
	   -moz-transition: 0.5s;
			transition: 0.5s;
}
select.search-form{
	width: 0;
	padding-right: 16px;
}
input.search-form{
	width: 0;
}
input.search-form, select.search-form{
	font-size: 12px;
	padding-left: 3px;
}

.side-nav{
	position: fixed;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	background-color: rgba(255, 255, 255, 1);
	overflow-x: hidden;
	z-index: 99;
	-webkit-transition: 0.5s;
	   -moz-transition: 0.5s;
			transition: 0.5s;
}
.side-nav-menu{
	margin-top: 60px;
}
.side-nav a{
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 16px;
	color: #727272;
	display: block;
	-webkit-transition: 0.3s;
	   -moz-transition: 0.3s;
			transition: 0.3s;
}
.side-nav li{
	display: block;
}
.side-nav a:hover{
	color: #f1f1f1;
}
/******* Toolbar CSS End *******/

.categories{
  text-align:center !important;
  margin-bottom:20px;
  border-bottom:1px solid #e4e4e4;
  padding:10px;
}

.categories li{
  display:inline-block !important;
  float:none;
}

.post-body{
  margin-top:30px;
  font-size:16px;
}

@media (min-width:992px) {
  .post-title{
    text-align:right;
    padding-right:30px;
  }
}

.post-title .author{
  text-transform:uppercase;
}

.post-body figure{
  margin-bottom:10px;
  text-align:center;
}

.post-title .author span{
  margin-left:5px;
}

.post-title h1{
  font-weight:bold;
  margin-top:30px;
}

@media (max-width:767px) {
  .post-title h1{
    margin-top:20px;
    font-size:32px;
    margin-bottom:10px;
  }
}

footer{
	padding:20px;
	text-align:center;
	background-color:#333;
	color:#fff;
	position: absolute;
	width: 100%;
	margin-top: 85px;
}

footer h5{
	color:inherit;
}

div.container.post{
  margin-bottom:50px;
}

span.tag{
	margin-right:14px;
}
/******* Booklog CSS Start *******/
.booklog-border-thin{
	border: 1px solid #DBE2EF;
}

.booklog-border{
	border: 2px solid #DBE2EF;
}

.booklog-border-thick{
	border: 3px solid #DBE2EF;
}

.booklog-background{
	background-color: #F9F7F7;
}

.booklog-font-color{
	color: #112D42;
}

div.div-posting, div.posting-img{
	height: 200px;
	overflow: hidden;
}
div.div-posting{
	margin: 6px;
	cursor: pointer;
}
span.posting-content{
	text-overflow: ellipsis;
	white-space: normal;
	word-wrap: normal;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 3; /* 라인수 */
	-webkit-box-orient: vertical;
	word-wrap: break-word; 
	line-height: 1.6em;
	height: 4.8em;
}
img.posting-img{
	opacity: 0.8;
	transition: 0.5s;
}
img.posting-img:hover{
	transform: scale(1.3);
}
div.hidden-md img{
	opacity: 0.3;
}
.img-object-fit{
	height: 100%;
	width: 100%;
	object-fit: cover;
}
/******* Booklog CSS End *******/